@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1545608444-f045a6db6133?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}

img {
  max-width: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h2 {
  font-family: "Dancing Script", serif;
  font-weight: normal;
  font-size: 45px;
  color: #009500;
  text-align: center;
}

.wrap {
  width: 350px;
  height: 300px;
  position: relative;
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

.card {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  border: 8px solid #B60003;
  text-align: center;
}
.card--front {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card--front.open {
  transform: rotateY(-180deg);
}
.card--front.back {
  z-index: 0;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.card--inner {
  overflow: hidden;
  padding: 15px;
}
.card--inner h2 {
  font-size: 32px;
}
.card--inner img {
  max-width: 60%;
  margin-top: 1.5em;
}
.card--inner.open:before {
  transform: translateX(-155%);
  opacity: 0.1;
}
.card--inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 1;
  transition: all 1s ease-in-out;
}

button {
  background: #E53935;
  border: 5px solid #9f1815;
  border-width: 0 0 5px;
  padding: 10px 20px;
  width: 150px;
  text-align: center;
  display: block;
  transform: rotateX(30deg);
  margin-top: 20px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}
button:active {
  border-bottom-width: 2px;
  margin-top: 23px;
  outline: none;
}
button:focus {
  outline: none;
}

.back table {
    border: 3px solid green;
    border-radius: 5px;
    transform: rotateY(-180deg);
    text-align: left;
    width: 55%;
}

.fancy {
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
}