:root {
    --toggle-switch-bg-off: #232428;
    --toggle-switch-bg-on: #00FF89;
    --toggle-border: #232428;
    --toggle-bg: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.toggle-wrap {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #00FF89;
}

.toggle-switch {
    position: relative;
    width: 150px;
    height: 68px;
    background: var(--toggle-bg);

    border: 2px solid var(--toggle-border);
    border-radius: 60px;

    transition: all .3s;
}

/* Style the toggle  */
.toggle-switch::before {
    position: absolute;
    content: '';
    
    width: 55px;
    height: 55px;
    margin: 5px;
    background: var(--toggle-switch-bg-on);
    border-radius: 100%;
    cursor: pointer;

    transition: .3s;
}

.toggle-input:checked + .toggle-switch::before {
    transform: translateX(80px);
    background-color: var(--toggle-switch-bg-off);
}

.toggle-input {
    display: none;
}

audio {
    display: none;
}